.search_container {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #3879D9;
  border-radius: 20px;
  height: 2.6em;
  width: 100%;
  max-width: 320px;
  overflow: hidden;
  background: #fff;
}

.search_container input[type="text"] {
  border: none;
  height: 100%;
  width: calc(100% - 3.8em);
  padding: 0 12px;
  font-size: 14px;
}

.search_container input[type="text"]:focus {
  outline: none;
}

.search_container button {
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.8em;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.search_container button:active {
  opacity: 0.9;
}

.search_container ::placeholder {
  color: #3879D9;
}
.search-input {
  font-size: 16px;      /* ←これが最重要 */
  line-height: 1.2;
}

